<h1>Listing adword_texts</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Name</th>
      <th>Ad desc1</th>
      <th>Ad desc2</th>
      <th>Ad url</th>
      <th>Ad display</th>
      <th>Adw</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adword_texts.each do |adword_text| %>
      <tr>
        <td><%= adword_text.group_id %></td>
        <td><%= adword_text.name %></td>
        <td><%= adword_text.ad_desc1 %></td>
        <td><%= adword_text.ad_desc2 %></td>
        <td><%= adword_text.ad_url %></td>
        <td><%= adword_text.ad_display %></td>
        <td><%= adword_text.adw_id %></td>
        <td><%= link_to 'Show', adword_text %></td>
        <td><%= link_to 'Edit', edit_adword_text_path(adword_text) %></td>
        <td><%= link_to 'Destroy', adword_text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adword text', new_adword_text_path %>
