<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @adword_text.group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @adword_text.name %>
</p>

<p>
  <strong>Ad desc1:</strong>
  <%= @adword_text.ad_desc1 %>
</p>

<p>
  <strong>Ad desc2:</strong>
  <%= @adword_text.ad_desc2 %>
</p>

<p>
  <strong>Ad url:</strong>
  <%= @adword_text.ad_url %>
</p>

<p>
  <strong>Ad display:</strong>
  <%= @adword_text.ad_display %>
</p>

<p>
  <strong>Adw:</strong>
  <%= @adword_text.adw_id %>
</p>

<div class="centrar">
  <%#= link_to 'Edit', edit_adword_text_path(@adword_text), class: "button_navegacion" %>
  <%= link_to 'Back', root_path, class: "button_navegacion" %>
</div>