<p>Start by selecting an account.</p>

<div class="main-menu">
  <!--<ul>
    <li><%#= link_to("List Accounts", accounts_path) %></li>
    <li><%#= link_to("Enter Test Account ID", account_input_path) %></li>
    <li><%#= link_to("List Campaigns", campaings_path) %></li>
    <li><%#= link_to("Retrieve a report", report_index_path) %></li>
    <li><%#= link_to("Add a AdWords", new_adword_text_path) %></li>
    <li><%#= link_to("View Groups", ad_groups_path) %></li>
    <li><%#= link_to("Add Keywords To Group", new_keyword_path) %></li>
  </ul>-->
<%= button_to "List Accounts", accounts_path, class: "boton_index button_azul" ,:method => :get %>
<%= button_to "Enter Test Account ID", account_input_path, class: "boton_index button_azul" ,:method => :get %>
<%= button_to "List AccounList Campaigns", campaings_path, class: "boton_index button_azul" ,:method => :get %>
<%= button_to "Add a AdWords", new_adword_text_path, class: "boton_index button_azul" ,:method => :get %>
<%= button_to "View Groups", ad_groups_path, class: "boton_index button_azul" ,:method => :get %>
<%= button_to "Add Keywords To Group", new_keyword_path, class: "boton_index button_azul" ,:method => :get %>
</div>
