<p id="notice"><%= notice %></p>

<p>
  <strong>Ad group:</strong>
  <%= @keyword.ad_group_id %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @keyword.keywords %>
</p>

<div class="centrar">
  <%= link_to 'Edit', edit_keyword_path(@keyword), class: "button_navegacion"  %>
  <%= link_to 'Back', keywords_path, class: "button_navegacion"  %>  
</div>