<!DOCTYPE html>
<html>
<head>
  <title>AdwordsTbf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="contenido">
    <%= render partial: "layouts/header" %>
    <%= render partial: "layouts/hansell" %>
    <%= render partial: "layouts/alert" %>      
    <%= render partial: "layouts/manager" %>    
    <div id="acounts" class="sombreado"><%= yield %></div>
    <%= render partial: "layouts/footer" %>
  </div>
</body>
</html>
